@import '../../Common/colors.scss';

.movie-list {
    margin : 40px 6px; 
    h2 {
        color : $font-secondary;
        margin-bottom : 10px;
        font-weight : 400
    }
}

.movie-container {
 display : grid;
 grid-gap :15px;
 grid-template-columns : repeat(4, 1fr);
}
@media (max-width : 500px) {
    .movie-container {
        display : block;
    }
}
@media (min-width : 540px) and (max-width : 920px) {
    .movie-container {
        display : grid;
        grid-gap :15px;
        grid-template-columns : repeat(3, 1fr);
       }
}