@import '../../common/colors.scss';

.header {
    position : fixed;
    left : 0;
    right :0;
    top : 0;
    background-color : $secondary-color;
    height :72px;
    padding :0px 40px;
    display : flex;
    align-items :center;
    justify-content : space-between;
}
a {
    text-decoration:none;
}
.logo {
    color: $font-primary;
    font-size : 20px;
    font-weight : 600;
}
.user-image, .user-image span  {
    height : 30px;
    width : 30px;
}